@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-pmmyzh');
	src:url('fonts/icomoon.eot?#iefix-pmmyzh') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-pmmyzh') format('truetype'),
		url('fonts/icomoon.woff?-pmmyzh') format('woff'),
		url('fonts/icomoon.svg?-pmmyzh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e603";
}
.icon-calendar:before {
	content: "\e600";
}
.icon-45-twitter:before {
	content: "\e601";
}
.icon-facebook_circle_color:before {
	content: "\e602";
}
